.App {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  border-radius: 8px;
  background-color: (237, 29, 36, 0.175);
}

.Header{
  width: 100%;
  height: 250px;
  border-radius: 10px;
  background-color: rgba(237, 29, 36, 0.175);
}

.toolbar {
  padding: 10px 20px;
  display: flex;
  justify-content: left;
  background-color: rgba(255, 255, 255, 0);
}

.listHeroes{
  /* display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  background-color: white;
  border-radius: 0 0 10px 10px;
  justify-items: center;
}

.HeroCard{
  margin: 10px;
  max-width: 250px;
  border: 1px solid rgba(237, 29, 36, 0.733);
  border-radius: 9px;
}

.Footer{
  margin-top: 10px;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: 50% 50%;
  border-radius: 8px;
}