.App {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  border-radius: 8px;
  background-color: (237, 29, 36, 0.175);
}

.Header{
  width: 100%;
  height: 250px;
  border-radius: 10px;
  background-color: rgba(237, 29, 36, 0.175);
}

.toolbar {
  padding: 10px 20px;
  display: flex;
  justify-content: left;
  background-color: rgba(255, 255, 255, 0);
}

.listHeroes{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background-color: white;
  border-radius: 0 0 10px 10px;
  justify-items: center;
  margin: 15px 0;
}

.HeroCard{
  margin: 10px;
  max-width: 250px;
  /* border: 1px solid rgba(237, 29, 36, 0.733); */
  border-radius: 9px;
  box-shadow: 0px 0px 20px 8px #0a0a0a;
  }

.Footer{
  margin-top: 20px;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  border-radius: 8px;
}

.contentBox{
  border-radius: 10px;
  background-color: white;
  margin-top: 20px;
  padding-bottom: 10px;
}

.imageHeroCard{
  width: 250px;
  height: 250px;
  border-radius: 8px;
}

.spinner {
  margin: 10px auto 10px auto;
  width: 50px;
  height: 50px;
  border: 5px solid;
  border-color: #f13d55 transparent #f13d55 transparent;
  border-radius: 50%;
  animation: spin-anim 1s linear infinite;
}

@keyframes spin-anim {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}