*{
  margin: 0;
	padding: 0;
  font-size: 100%;
}

body {
  background: url('../public/background.webp');
  background-repeat: repeat;
  margin: auto;
}

#root{
  display: flex;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 2em;
  text-align: center;
}
